/* Center the plus icon */
#tabs-newtab-button.toolbarbutton-1 {
    justify-content: center !important;
    align-items: center !important;
    text-align: center !important;
    width: 36px !important;
    min-width: 36px !important;
    max-width: 36px !important;
    padding: 0 !important;
    margin-bottom: 100px !important;
}

/* Hide the New Tab text */
#tabs-newtab-button.toolbarbutton-1 .toolbarbutton-text,
#tabs-newtab-button.toolbarbutton-1 .toolbarbutton-icon + .toolbarbutton-text {
    display: none !important;
}

/* Spacing tweaks for New Tab button and pinned tabs */
#tabs-newtab-button.toolbarbutton-1 {
    position: relative !important;
    top: -3px !important;
    margin-top: 9px !important;
}

/* Spacing tweakd for New Tab button and the divider */
.pinned-tabs-container-separator {
    margin-bottom: -1px !important;
    height: 3px !important;
    transform: translateY(-2px) !important;
}
