/* Ignore this, it is required for the mod to work. It should identify your system font correctly */
* {
font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif !important;
}
;

/* Center the plus icon */
#tabs-newtab-button.toolbarbutton-1 {
    justify-content: center !important;
    align-items: center !important;
    text-align: center !important;
    width: 36px !important;
    min-width: 36px !important;
    max-width: 36px !important;
    padding: 0 !important;
    margin-bottom: 100px !important;
}

/* Hide the New Tab text */
#tabs-newtab-button.toolbarbutton-1 .toolbarbutton-text,
#tabs-newtab-button.toolbarbutton-1 .toolbarbutton-icon + .toolbarbutton-text {
    display: none !important;
}

.workspace-arrowscrollbox:has(.zen-workspace-pinned-tabs-section:not([hide-separator])) {
    /* Spacing tweaks for New Tab button and pinned tabs, thanks to CosmoCreeper */
    #tabs-newtab-button.toolbarbutton-1 {
        position: relative !important;
        top: -3px !important;
        margin-top: 9px !important;
    }

    /* Spacing tweak for New Tab button and the divider, thanks to CosmoCreeper */
    .pinned-tabs-container-separator {
        margin-bottom: 1px !important;
        margin-top: 5px !important;
    }
}

.zen-workspace-pinned-tabs-section[hide-separator] .pinned-tabs-container-separator {
    margin-top: 3px !important;
}
